<div id="app-confirm-modal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div id="confirm-modal-title" class="modal-header">

            </div>
            <div class="modal-body">
                <p id="confirm-modal-subtitle"></p>
                <button id="confirm-modal-confirm" class="btn btn-success">Confirm</button>
                <button id="confirm-modal-cancel" class="btn btn-secondary">cancel</button>
            </div>
        </div>
    </div>
</div>