@using Presentation.Models.Account
@model LoginViewModel

<div class="container-fluid">
<div class="row justify-content-center align-items-center signup-bg">
    <div class="col-11 col-md-7 col-lg-5 card shadow position-relative signup-form my-3">
        <form id="signup-form" class="card-body" asp-controller="Account" asp-action="Login" method="post">
            <div class="text-center">
                <i class="bi bi-box-arrow-in-right text-primary" style="font-size:50px"></i>
            </div>
            <h2 class="text-center mb-3">Login to your account</h2>
            <div class="mb-3">
                <label class="form-label" asp-for="Email">Email:</label>
                <input class="form-control" asp-for="Email" type="text" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Password">Password:</label>
                <input class="form-control" autocomplete="off" type="password" asp-for="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            @if (ViewData.Keys.Contains("Error"))
            {
                <div class="alert alert-danger my-3">
                    @ViewData["Error"]
                </div>
            }
            <button class="btn btn-primary me-auto">Submit</button>
        </form>
    </div>
</div>
</div>

@section Scripts {
<script>
    $(document).ready(() => {

        $("#signup-form").validate();

    })
</script>}