@using Application.DTOs.ForumRoom
@using Forum.Web.Models.ForumPost
@model ForumRoomDto

<div class="container mb-3 forum-room-container">
    <div class="bg-body-secondary rounded mt-3 mb-3 p-3">
        <h3>@Model.Title</h3>
        <p>@Model.Subtitle</p>
        <p>
            @Model.Description
        </p>
        
        <div class="bg-rule p-3 rounded"> 
            Rules:
            @Model.Rules
        </div>
        <div class="mt-2 text-end">
            <button data-bs-toggle="modal" data-bs-target="#form-modal" class="btn btn-sm btn-success">
                Add Post
                <i class="bi bi-pencil"></i>
            </button>
        </div>
    </div>

    <div id="form-modal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <partial name="_ForumPostForm" model="new AddForumPostViewModel() {ForumRoomId = Model.Id}" />
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("ListRoomPosts", new {forumRoomId = Model.Id})
    
</div>