<div id="app-toast" class="toast bg-warning text-dark">
    <div id="app-toast-title" class="toast-Header pt-1 ps-2 fs-5">
    </div>
    <div id="app-toast-subtitle" class="toast-body fs-6 pt-0 mt-0">
    </div>
    <button id="app-toast-close-btn" class="btn btn-sm btn-close">
    </button>
</div>